@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-canopy-green: #184C31;
  --color-sage-mist: #8CAF95;
  --color-lichen-veil: #CBD6C4;
  --color-sun-bark: #E9B072;
  --color-cream-pulp: #F5F0E7;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}